
<div class="container-fluid vh-100 bg-light">
  <div class="row h-100">
    
    <!-- BARRE LATERALE (Liste des réservations) -->
    <div class="col-md-4 col-lg-3 bg-white border-end p-0">
      <div class="p-3 border-bottom bg-primary text-white">
        <h5 i18n="@@chat.myloc" class="mb-0">Mes Locations</h5>
      </div>
      <div class="list-group list-group-flush">
          @for (res of reservations() ; track res.id) {
            <a (click)="selectReservation(res)"
              [class.active]="selectedReservation()?.id === res.id"
              style="cursor: pointer;"
              class="list-group-item list-group-item-action p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-1">{{ res.voiture.nom || 'Véhicule' }}</h6>
              </div>
              <p class="mb-1 small text-muted">Du {{ res.dateDebut | date:'dd/MM/yyyy' }} au {{ res.dateFin | date:'dd/MM/yyyy' }}</p>
            </a>
          } @empty {
            <div class="p-4 text-center text-muted">
              <small i18n="@@chat.noloc">Aucune location en cours.</small>
            </div>
          }
      </div>
    </div>

    <!-- ZONE DE TCHAT -->
    <div class="col-md-8 col-lg-9 d-flex flex-column p-0">
       @if (selectedReservation()) {
      <!-- Header -->
      <div class="p-3 bg-white border-bottom shadow-sm">
        <h6 i18n="@@chat.title" class="mb-0">Support Client - Location {{ selectedReservation()?.voiture?.nom }}</h6>
      </div>

      <!-- Messages -->
      <div class="flex-grow-1 p-4 overflow-auto" >
        @for (msg of messages(); track msg.id) {
          <div class="d-flex mb-3" [ngClass]="msg.pseudoAuteur === currentUser()?.pseudo ? 'justify-content-start' : 'justify-content-end'">
            <div class="p-3 rounded shadow-sm border" style="max-width: 70%;" 
            [ngClass]="msg.pseudoAuteur === currentUser()?.pseudo 
                    ? 'bg-white text-dark ms-5'
                    : 'bg-secondary text-white me-5'">
              <span class="fw-bold text-primary" style="font-size: 0.8rem;">{{ msg.pseudoAuteur }}</span>
              <p class="mb-0"> >{{ msg.contenu }}</p>
              <small class="text-muted"> {{msg.createdAt}}</small>
            </div>
          </div>
        }
      </div>

        <!-- Message Envoyé 
        <div class="d-flex justify-content-end mb-3">
          <div class="bg-primary text-white p-3 rounded shadow" style="max-width: 70%;">
            <p class="mb-0">La voiture fait un bruit bizarre au freinage.</p>
            <small class="text-white-50">09:45</small>
          </div>
        </div>
      </div>-->

      <!-- Input de message -->
      <div class="p-3 bg-white border-top">
        <div class="input-group">
          <input i18n-placeholder="@@chat.placeholder" type="text" class="form-control" placeholder="Tapez votre message..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" >
          <button i18n="@@chat.sendButton" class="btn btn-primary px-4" (click)="sendMessage()">Envoyer</button>
        </div>
      </div>
      } @else {
        <div class="h-100 d-flex align-items-center justify-content-center text-muted">
          <p class="lead text-muted mt-3" i18n="@@chat.noselection">Sélectionnez une location pour discuter avec le support.</p>
        </div>
      }
    </div>

  </div>
</div>